.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("movies.jpg");
  height: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.banner h1 {
  color: whitesmoke;
  margin: auto;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}
