.list-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.list-card {
  height: 150px;
  width: 300px;
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;

  h3 {
    margin-bottom: 0;
    font-size: 25px;
  }

  a {
    color: white;
  }
}
