.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  width: 450px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  margin: 20px;

  .text-content {
    padding: 10px;
  }

  .picture {
    height: 150px;
    width: 450px;
    background-position: center;
    background-size: cover;
  }

  .title-rating {
    justify-content: space-between;
    display: flex;
  }

  .comment-delete {
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: 15px;
  }
}

.title-rating p {
  margin-right: 5px;
}

.grid-wrapper {
  display: inline-grid;
  grid-template-columns: 10fr 3fr;
  grid-gap: 15px;
}

.add-movie {
  width: 300px;
  flex-grow: 1;
}

.btn {
  border: 1px solid grey;
  background-color: lightgrey;
}
